{% extends 'account/main.html' %}
<!-- -- -->
{% load static %}
<!---->
{% block title %} Home of your favourite kids clothes, gadgets & arts - GARWOOD
{% endblock %}
<!-- - -->

<!-- - -->
{% block content %}

<!-- Start slider -->
<section id="aa-slider">
  <div class="aa-slider-area">
    <div id="sequence" class="seq">
      <div class="seq-screen">
        <ul class="seq-canvas">
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <img
                data-seq
                src="{% static 'images/ea.jpg' %}"
                alt="Men slide img"
              />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 75% Off</span>
              <h2 data-seq>Unisex Collection</h2>
              <p data-seq>
                Best Place to shop Kids Favourite and bring easily affordable
                items to delight of pure happiness and comfort
              </p>
              <a
                data-seq
                href="{% url 'store' %}"
                class="aa-shop-now-btn aa-secondary-btn"
                >SHOP NOW</a
              >
            </div>
          </li>
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <img
                data-seq
                src="{% static 'images/background-kidss.jpg' %}"
                alt="Wristwatch slide img"
              />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 40% Off</span>
              <h2 data-seq>Wristwatch Collection</h2>
              <p data-seq>
                All items are cheap, repellendus, easily purchased and pure
                quality
              </p>
              <a
                data-seq
                href="{% url 'store' %}"
                class="aa-shop-now-btn aa-secondary-btn"
                >SHOP NOW</a
              >
            </div>
          </li>
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <img
                data-seq
                src="{% static 'images/eat.jpg' %}"
                alt="Women Jeans slide img"
              />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 75% Off</span>
              <h2 data-seq>Jeans Collection</h2>
              <p data-seq>
                Best Place to shop Kids Favourite and bring easily affordable
                items to delight of pure happiness and comfort.
              </p>
              <a
                data-seq
                href="{% url 'store' %}"
                class="aa-shop-now-btn aa-secondary-btn"
                >SHOP NOW</a
              >
            </div>
          </li>
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <img
                data-seq
                src="{% static 'images/ea.jpg' %}"
                alt="Shoes slide img"
              />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 75% Off</span>
              <h2 data-seq>Exclusive Shoes</h2>
              <p data-seq>
                Best Place to shop Kids Favourite and bring easily affordable
                items to delight of pure happiness and comfort.
              </p>
              <a
                data-seq
                href="{% url 'store' %}"
                class="aa-shop-now-btn aa-secondary-btn"
                >SHOP NOW</a
              >
            </div>
          </li>
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <img
                data-seq
                src="{% static 'images/background-kid.jpg' %}"
                alt="Male Female slide img"
              />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 50% Off</span>
              <h2 data-seq>Best Collection</h2>
              <p data-seq>
                Best Place to shop Kids Favourite and bring easily affordable
                items to delight of pure happiness and comfort.
              </p>
              <a
                data-seq
                href="{% url 'store' %}"
                class="aa-shop-now-btn aa-secondary-btn"
                >SHOP NOW</a
              >
            </div>
          </li>
        </ul>
      </div>
      <!-- slider navigation btn -->
      <fieldset
        class="seq-nav"
        aria-controls="sequence"
        aria-label="Slider buttons"
      >
        <a type="button" class="seq-prev" aria-label="Previous"
          ><span class="fa fa-angle-left"></span
        ></a>
        <a type="button" class="seq-next" aria-label="Next"
          ><span class="fa fa-angle-right"></span
        ></a>
      </fieldset>
    </div>
  </div>
</section>
<!-- / slider -->

{% endblock %}

<!-- - -->
